name: Build Extension

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]
    workflow_call:
      inputs:
        prerelease:
          required: false
          type: boolean
          default: false

jobs:
  build:
    strategy:
      matrix:
        include:
          # All rust target with their related rust target.
          # https://doc.rust-lang.org/beta/rustc/platform-support.html
          # https://code.visualstudio.com/api/working-with-extensions/publishing-extension#platformspecific-extensions
          # https://github.com/microsoft/vscode-platform-specific-sample/
          - os: windows-latest
            npm-target: win32-x64
            rust-target: x86_64-pc-windows-msvc
          #- os: windows-latest
          #  npm-target: win32-arm64
          #  rust-target: aarch64-pc-windows-msvc
          - os: ubuntu-latest
            npm-target: linux-x64
            rust-target: x86_64-unknown-linux-gnu
          #- os: ubuntu-latest
          #  npm-target: linux-arm64
          #  rust-target: aarch64-unknown-linux-gnu
          # Mac and alpine not available in DXC available target, default with wasi version.
          #- os: ubuntu-latest
          #  npm-target: linux-armhf
          #  rust-target: armv7-unknown-linux-gnueabihf
          #- os: ubuntu-latest
          #  npm-target: alpine-x64
          #  rust-target: x86_64-unknown-linux-musl
          #- os: ubuntu-latest
          #  npm-target: alpine-arm64
          #  rust-target: aarch64-unknown-linux-musl
          #- os: macos-latest
          #  npm-target: darwin-x64
          #  rust-target: x86_64-apple-darwin
          #- os: macos-latest
          #  npm-target: darwin-arm64
          #  rust-target: aarch64-apple-darwin

          # This is the default version when native server cannot be compiled on this target.
          - os: ubuntu-latest
            npm-target: wasi
            rust-target: wasm32-wasip1-threads
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Install VSCE
        run: npm i -g vsce
      - name: Read package JSON
        id: package_json
        uses: ActionsTools/read-json-action@main
        with:
          file_path: "package.json"
      - name: Display requested server version
        run: echo '${{ steps.package_json.outputs.server_version }}'
      - name: Download native shader language server.
        uses: robinraju/release-downloader@v1.11
        if: ${{ matrix.npm-target != 'wasi' }}
        with:
          repository: 'antaalt/shader-sense'
          tag: ${{ format('v{0}', steps.package_json.outputs.server_version) }}
          fileName: 'shader-language-server-${{ matrix.rust-target }}.zip'
      - name: Download wasi shader language server.
        uses: robinraju/release-downloader@v1.11
        with:
          repository: 'antaalt/shader-sense'
          tag: ${{ format('v{0}', steps.package_json.outputs.server_version) }}
          fileName: 'shader-language-server-wasm32-wasip1-threads.zip'
      - name: Create bin folder
        run: mkdir ./bin
      - name: Copy native binary to bin
        if: ${{ matrix.npm-target != 'wasi' }}
        run: mkdir ./bin/${{ matrix.npm-target }} && unzip shader-language-server-${{ matrix.rust-target }}.zip -d ./bin/${{ matrix.npm-target }} && rm ./shader-language-server-${{ matrix.rust-target }}.zip
      - name: Copy wasi binary to bin
        run: mkdir ./bin/wasi && unzip shader-language-server-wasm32-wasip1-threads.zip -d ./bin/wasi && rm ./shader-language-server-wasm32-wasip1-threads.zip
      - name: Mark server as executable on Linux and MacOS
        # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
        if: (runner.os == 'Linux' || runner.os == 'macOS') && matrix.npm-target != 'wasi'
        run: chmod +x ./bin/${{ matrix.npm-target }}/shader-language-server
      - name: Get server version
        run: ./bin/${{ matrix.npm-target }}/shader-language-server${{ env.EXTENSION }} --version
        if: ${{ matrix.npm-target != 'wasi' }}
        env:
          EXTENSION: ${{ runner.os == 'Windows' && '.exe' || '' }}
      # VScode need a framebuffer to run test on bash. So create one.
      - name: Create framebuffer to run test on Linux and MacOS
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: sudo apt-get install xvfb
      - name: Test extension with virtual framebuffer
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: |
          npm run pretest
          xvfb-run --auto-servernum npm run test${{ matrix.npm-target == 'wasi' && '-wasi' || '' }}
      - name: Test extension on Windows
        if: runner.os == 'Windows'
        # prestest run automatically by npm run test but not by npm run wasi-test. So explicitely call it to be sure.
        run: |
          npm run pretest
          npm run test${{ matrix.npm-target == 'wasi' && '-wasi' || '' }}
      # The wasi extension only have the wasi server, while the native have both wasi and native (for fallback reason if native does not work)
      - name: Package wasi only extension
        if: ${{ matrix.npm-target == 'wasi' }}
        run: vsce package ${{ inputs.prerelease && '--pre-release' || '' }} --out shader-validator-${{ matrix.npm-target }}.vsix
      - name: Package native extension
        if: ${{ matrix.npm-target != 'wasi' }}
        run: vsce package ${{ inputs.prerelease && '--pre-release' || '' }} --target ${{ matrix.npm-target }} --out shader-validator-${{ matrix.npm-target }}.vsix
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: shader-validator-${{ matrix.npm-target }}.vsix
          path: shader-validator-${{ matrix.npm-target }}.vsix